* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  font-size: 16px;

}

h1 {
  font-family: cursive;
  line-height: 50px;
}

a {
  text-decoration: none;
}

/* NAVBAR STYLING STARTS */

.navbar {
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  position: fixed;
  top: 0;
  z-index: 2;
  right: 0;
  left: 0;
  li {
    list-style: none;
  }
}

/* LOGO */
.logo {
  font-size: 32px;
  display: flex;
  align-items: center;
  > span {
    margin-left: 10px;
  }
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li a {
  &.active,
  &:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  padding: 5px 14px;
}

/*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type="checkbox"] {
  display: none;
}

/*HAMBURGER MENU*/

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    top: 130px;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
    z-index: 10;
  }

  .hamburger {
    display: block;
  }

  .about,
  .contact {
    .box-shadow-full {
      flex-direction: column;
      padding-top: 0;
    }
  }

  .portfolio.box-shadow-full {
    flex-direction: column;
    padding-top: 0;
  }
}

.intro {
  position: relative;
  text-align: center;
}

.intro .intro-content {
  text-align: center;
  position: absolute;
}

.intro .intro-content-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  a {
    margin: 12px;
  }
}

.intro .overlay-intro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.intro .intro-title {
  font-weight: 600;
  font-size: 3rem;
  margin: 80px 0;
}

.intro .intro-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.intro-single {
  height: 350px;
}

.intro-single .intro-content {
  margin-top: 30px;
}

.intro-single .intro-title {
  text-transform: uppercase;
  font-size: 3rem;
}

.intro-single .breadcrumb {
  background-color: transparent;
  color: #0078ff;
}

.intro-single .breadcrumb .breadcrumb-item:before {
  color: #cde1f8;
}

.intro-single .breadcrumb .breadcrumb-item.active {
  color: #cde1f8;
}

.intro-single .breadcrumb a {
  color: #fff;
}

.container {
  height: 100vh;
  display: flex;
  flex-flow: column;
  .content {
    flex-grow: 1;
    padding-top: 8em;
    .rodal-dialog {
      width: 50% !important;
      height: 50% !important;
      overflow: auto;
    }
  }
}

.porfolio-modal {
  height: 100%;
  overflow: auto;
  margin-right: 1em;
  * {
    color: teal;
  }
  h4 {
    padding-bottom: 12px;
  }
  &__details {
    ul {
      padding: 12px 24px;
      li {
        display: list-item;
        list-style-type: disc;
      }
    }
  }
}
.btn-primary {
  background-color: teal;
  border-radius: 5px;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
}

$desktop: 1024px;
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}
.portfolio {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  .header-box {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .title-box {
    text-align: center;
    strong {
      font-style: italic;
      font-size: 1.1em;
    }
    div {
      text-align: justify;
    }
  }
  .title-a {
    font-weight: 700;
    text-transform: uppercase;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .card {
    width: 300px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);

    &:hover {
      .card__caption {
        top: 50%;
        transform: translateY(-50%);
      }

      .card__image {
        transform: translateY(-10px);
      }

      .card__thumb {
        &::after {
          top: 0;
        }
      }

      .card__snippet {
        margin: 20px 0;
      }
    }

    &__thumb {
      position: relative;
      max-height: 400px;
      overflow: hidden;

      @include breakpoint(desktop) {
        max-height: 500px;
      }

      &::after {
        position: absolute;
        top: 0;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5) 40%,
          rgba(255, 255, 255, 0) 100%
        );
        transition: 0.3s;

        @include breakpoint(desktop) {
          top: calc(100% - 140px);
        }
      }
    }

    &__image {
      transition: 0.5s ease-in-out;
      height: 510px;
    }

    &__caption {
      position: absolute;
      top: 50%;
      z-index: 1;
      padding: 20px;
      color: white;
      transform: translateY(-50%);
      text-align: center;
      transition: 0.3s;
      background: teal;

      @include breakpoint(desktop) {
        top: calc(100% - 110px);
        transform: unset;
      }
    }

    &__title {
      display: -webkit-box;
      max-height: 85px;
      overflow: hidden;
      font-size: 23px;
      line-height: 28px;
      text-shadow: 0px 1px 5px black;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    &__subTitle {
      font-size: 16px;
    }

    &__snippet {
      display: -webkit-box;
      max-height: 150px;
      margin: 20px 0;
      overflow: hidden;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 20px;
      text-overflow: ellipsis;
      transition: 0.5s ease-in-out;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;

      @include breakpoint(desktop) {
        margin: 60px 0;
      }
    }

    &__button {
      display: inline-block;
      padding: 10px 20px;
      color: white;
      border: 1px solid white;
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        color: black;
        background-color: white;
      }
    }
  }
}

.box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  > div {
    padding: 24px;
    flex-grow: 1;
    flex-basis: 0;
  }
}
.title-box-2 {
  margin-bottom: 3rem;
  position: relative;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: teal;
  width: 100px;
  bottom: -12px;
}
/*
ABOUT
*/
.about {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  &-container {
    color: white;
  }
}

.about .about-img {
  margin-bottom: 2rem;
}

.about .about-img img {
  margin-left: 10px;
}

.skill-mf .progress {
  height: 0.7rem;
  position: relative;
  background-color: #cde1f8;
  overflow: hidden;
  margin: 0.5rem 0 1.2rem 0;
  border-radius: 0;
  span {
    display: block;
    height: 100%;
  }
  .progress-bar {
    background-color: teal;
    animation: progressBar 3s ease-in-out;
  }
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

.contact {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  &-container {
    margin-top: 4rem;
  }
  #sendmessage {
    color: #0078ff;
    border: 1px solid #0078ff;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  #sendmessage.show,
  #errormessage.show,
  .show {
    display: block;
  }

  .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }
  .form-control {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #495057;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    height: calc(1.5em + 0.75rem + 2px);
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
  }
  textarea.form-control {
    height: auto;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  .btn-primary {
    border: none;
    &:hover {
      background-color: #4c9e9e;
      border-radius: 5px;
      transition: 0.3s ease;
    }
  }
  .socials {
    margin: 24px 0;
    a {
      padding-right: 12px;
    }
  }
}
